html,
body {
    height: 100%;
}

.sidemenu {
    height: 100vh;
}

@media (min-width: 992px) {
    .main-content {
        margin-left: 200px;
        height: 100vh;
    }
}

.main-content {
    height: 100vh;
    overflow-y: auto;
}

.nav-link.active {
    background-image: linear-gradient(
            270deg,
            #0062ff 0%,
            #0044b3 105.15%
    ) !important;
    color: white !important;
}

.link-dark {
    color: #0044b3 !important;
}

.btn-custom {
    color: #0044b3 !important;
    border-color: #0044b3 !important;
}

.btn-custom:hover {
    background-color: #0044b3 !important;
    color: #fff !important;
}

/*form*/
.body-form {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

